*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(255, 255, 255, 0);
}

body {
    max-width: var(--width);
    max-height: var(--height);
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family), serif;
    margin: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.main-container, .header {
    display: flex;
    flex-direction: column;
}

.main-container {
    height: 100vh;
    gap: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.header {
    padding: 16px;
    gap: 12px;
    flex-shrink: 0; /* Prevent these elements from shrinking */
    border-radius: var(--header-border-radius);
    background-color: var(--header-background-color);
}

.header-top-portion {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);
    color: var(--header-title-color);
}

.completion-progress {
    background-color: var(--completion-progress-background-color);
    color: var(--completion-progress-text-color);
    border-radius: 20px;
    padding: 3px 10px;
    font-size: var(--completion-progress-font-size);
    font-weight: var(--completion-progress-font-weight);
}

.header-description {
    display: var(--header-description-display);
    color: var(--header-description-text-color);
    font-size: var(--header-description-font-size);
    font-weight: var(--header-description-font-weight);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.details, .details-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.details {
    gap: 20px;
}

.details-category {
    font-size: var(--header-details-font-size);
    font-weight: var(--header-details-font-weight);
    color: var(--header-details-text-color);
    max-lines: 1;
    text-overflow-ellipsis: auto;
    gap: 5px;
    overflow: hidden;
}

.material-symbols-outlined {
    font-size: var(--header-details-icon-size) !important;
    color: var(--header-details-text-color);
    font-variation-settings: 'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' var(--header-details-icon-size)
}

.user-name {
    color: var(--username-color);
    font-size: var(--username-font-size);
    font-weight: var(--username-font-weight);
    letter-spacing: 0;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex: 1; /* Take up remaining space */
    overflow-y: hidden; /* This allows scrolling */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    border-radius: var(--task-container-border-radius);
}

.user-tasks {
    display: flex;
    flex-direction: column;
    border-radius: var(--task-container-border-radius);
    gap: 7px;
    padding: 16px;
    background-color: var(--user-tasks-background-color);
}

.user-tasks:first-child {
    margin-top: 14px; /* Adjust the margin as needed */
}

.user-tasks:last-child {
    margin-bottom: 0; /* Adjust the margin as needed */
}

.task {
    display: flex;
}

.user-task-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.task-id {
    margin-right: 9px;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.taskCompleted {
    font-size: var(--task-font-size);
    font-weight: var(--task-font-weight);
    letter-spacing: 0;
    color: var(--completed-text-color);
    text-decoration: line-through;
    font-style: var(--completed-task-font-style);
}

.task-indicator {
    display: inline-block;
    position: relative;
    width: var(--check-box-size);
    height: var(--check-box-size);
    border-radius: 50%;
    border: 1px solid var(--check-box-color);
    margin: 2px 10px 0 0;
    flex-shrink: 0; /* Prevent the indicator from shrinking */
}

.task-indicator.completed {
    background-color: var(--completed-checkbox-color);
    width: var(--check-box-size);
    height: var(--check-box-size);
    border: 1px solid var(--completed-checkbox-color);
}

.task-indicator.completed::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    color: var(--check-symbol-color);
    font-weight: normal; /* Add bold weight for clearer visibility */
}

.task-description {
    font-size: var(--task-font-size);
    font-weight: var(--task-font-weight) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-grow: 1; /* Allow the description to grow */
    color: var(--task-text-color);
}

.task-number {
    font-size: var(--task-font-size);
    font-weight: var(--task-font-weight);
    margin-right: 4px;
    color: var(--task-text-color);
}

.task-number.completed {
    font-size: var(--task-font-size);
    font-weight: var(--task-font-weight);
    color: var(--completed-text-color);
}

.footer {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
