:root {
    --width: 410px;
    --height: 660px;
    --main-color-variant: #3F3F3F;
    --task-complete-main: #2879E4;
    --header-description-font-size: 12px;
    --header-description-font-weight: 500;
    --header-description-text-color: #9b2e2e;
    --main-text-color: 'black';
    --completed-text-color: #3F3F3F;
    --font-family: 'Inter';
    --username-font-size: 1400px;
    --username-font-weight: 400;
    --username-color: 'black';
    --check-box-size: 12px;
    --check-box-color: #3F3F3F;
    --check-symbol-color: #ffffff;
    --completed-checkbox-color: #2879E4;
    --tick-color: 'white';
    --task-font-size: 14px;
    --task-font-weight: 500;
    --header-title-font-size: 16px;
    --header-title-font-weight: 600;
    --completion-progress-bg-color: #D1DEF9;
    --completion-progress-text-color: #4270C3;
    --completion-progress-font-size: 12px;
    --completion-progress-font-weight: 500;
    --tasklist-padding: 16px;
    --header-background-color: #ffffff;
    --user-tasks-background-color: #ffffff;
    --header-title-color: #000000;
    --header-details-font-size: 12px;
    --header-details-font-weight: 500;
    --header-details-icon-size: 12px;
    --header-description-display: none;
    --header-details-text-color: #3F3F3F;
    --header-icon-color: #3F3F3F;
    --header-border-radius: '20px';
    --task-container-border-radius: '20px';
    --task-text-color: #ffffff;
    --completed-task-font-style: normal;
    --divider-color: #3F3F3F;
    --completion-progress-background-color: #ffffff;
    --tasklist-border-radius: 20px;
}
